* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
}
//flex
@mixin flex($jc: center, $ai: center, $fd: row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
}
//文本溢出隐藏
@mixin hidden($num) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
  overflow: hidden;
}
//单行文本溢出隐藏
@mixin onerow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
//文本
@mixin font($size, $color, $weight: normal, $family: "Microsoft YaHei") {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  font-family: $family;
}
